
Library
ProjectSettings
UnityPackageManager
Temp
.vs/Unity_MeshDeformer/DesignTimeBuild/.dtbcache
.vs/Unity_MeshDeformer/v14/.suo
.vs/Unity_MeshDeformer/v15/.suo
.vs/Unity_MeshDeformer/v15/Server/sqlite3/db.lock
.vs/Unity_MeshDeformer/v15/Server/sqlite3/storage.ide
.vs/Unity_MeshDeformer/v15/Server/sqlite3/storage.ide-shm
.vs/Unity_MeshDeformer/v15/Server/sqlite3/storage.ide-wal
.vs/Unity_MeshDeformer/v15/Browse.VC.db
.vs/Unity_MeshDeformer/v15/Browse.VC.opendb
